
/* @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');


html,
body {
    height: 100%;
    font-family: "Poppins", sans-serif;
    
}




body {
    margin: 0 auto;
   
    background: #eee ; 
    font-family: 'Lato', sans-serif;
    font-weight: bolder;
    
}


.wrapper
{
 
   margin: 0% auto;
   /* margin-top: 20px; */
   max-width: 780px;
   
   /* background-color: #fefeff; */
   background-color: #eee;
   
   /* border-radius: 40px; */
   /* background-color: #1414ee; */
   

}

table {
    /* max-width: 680px; */
    width: 100%;
    
    font-family: "Poppins", sans-serif;
    border: 1px solid #d2d2d4;
    border-radius: 7px;
    /* background-color: rgb(252, 246, 246); */
    background-color:#ffffff;
    margin: 0% auto;
    color: #1a1918;
    column-rule-style: none; 
     border-collapse: collapse; 
     overflow: hidden;
    /* border-style:outset; */
    /* margin-top: 10px; */
    /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); */
}

th,
td {
    padding: 10px;
    text-align: center;
}

th {
    text-align: center;
    color: #f0428b;
    font-family: "Poppins", sans-serif;
    
}



.editaction a:link,.editaction a:visited{
    background-color: #e8f18f;
    color: rgb(112, 109, 109);
      padding: 4px;
      padding-right: 12px;
      margin: 12px;
      padding-left: 12px;
      border-radius: 5px;
     text-align: center;
    text-decoration: none;
   
}
.editaction a:hover {
    background-color: #121312;
    color: rgb(235, 232, 232);
      padding: 4px;
      padding-right: 12px;
      padding-left: 12px;
      border-radius: px;
     text-align: center;
    text-decoration: none;
   
}

.deleteaction a:link,.deleteaction a:visited {
    background-color: #f03022;
    /* color: rgb(209, 202, 202); */
    color: #d2d2d4;
      padding: 4px;
      margin: 20px;
      padding-right: 12px;
      padding-left: 12px;
      border-radius: 5px;
     text-align: center;
    text-decoration: none;
   
}
.deleteaction a:hover{
    background-color: #121312;
    color: rgb(235, 232, 232);
      padding: 4px;
      
      padding-right: 12px;
      padding-left: 12px;
      border-radius: 5px;
     text-align: center;
    text-decoration: none;
   
}

.addheader
{
    
  margin: 0% auto;
    /* margin-left: 500px; */
   
    max-width: 780px;
    padding :18px;
    font-size: medium;
    margin-top: 50px;
    margin-bottom: 10px;
    
}

.addheader a:link,.addheader a:visited
{
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    background-color: #555453;
    font-size:15;
    padding: 12px;
    color: white;
    border-radius: 5px;
}

.addheader a:hover
{
  background-color: #121312;
}





